@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    width: 1440px;
}

main {
    margin: 0 135px;
}

* {
    font-family: Mulish;

}

/* shared style  */
.color-orange {
    color: #FF5400;

}

.primary-btn {
    border-radius: 8px;
    background: #FF5400;
    border: none;
    padding: 20px 25px;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
}

.heading {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin: 0;
    text-align: justify;

}

.description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.details {
    max-width: 643px;
    text-align: center;
    margin: 0 auto 48px;
}

.card-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin: 32px 0 20px;
}

/* header style  */
.website-header {
    margin-left: 135px;
    margin-top: 50px;
}

.logo-website-name {
    display: flex;
    align-items: center;
}

.logo {
    width: 48px;
    height: 56px;
    margin-right: 20px;

}

.website-name {
    color: #131318;
    font-size: 36px;
    font-weight: 800;

}

nav {
    margin-right: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;

}

nav ul li {
    list-style: none;
    margin-left: 44px;

}

.home {
    font-weight: 700;

}

nav li a {
    text-decoration: none;
    color: #424247;
    font-size: 1.125rem;
    font-weight: 400;

}

.bannar {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../image/bannar.png');
    width: 1170px;
    height: 500px;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin-right: 135px;
    margin-top: 50px;
}

.bannar-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    padding-top: 105px;
    padding-bottom: 0;
}

.bannar-description {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 676px;
    text-align: center;
    margin: 20px auto;

}

.bannar-option {
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.search-btn {
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    width: 174px;
    height: 75px;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.selection {
    display: flex;
    align-items: center;
    width: 800px;
    height: 84px;
    padding: 16px;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 0 auto;



}

/* popular spot style  */

.about-popular-spot {
    display: flex;
    gap: 50px;
    margin-top: 100px;
}

.popular-spot {
    width: 540px;
    height: 550px;
}

.about-popular-spot p {
    margin: 24px 0;
}

.about-popular-spot li {
    margin: 20px 0;
}

/* destination styles  */
.destination {
    margin-top: 100px;
}

.spot-containar {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.spot {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
    position: relative;
}

.spot-name {
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* choose style  */
.choose {
    margin-top: 100px;
}

.card {
    width: 573px;
    border-radius: 16px;
    padding: 32px;
}

.hotel {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background-color: rgba(251, 181, 99, 0.05);
}

.map {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.price {
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 24px auto 0px;
}

.icon {
    width: 64px;
    height: 64px;
}



.card-details {
    color: #5A5A5D;
    width: 486px;
    margin: 0;
    text-align: start;
}

.card-flex {
    display: flex;
    gap: 24px;
}

/* mountains style  */
.mountain {
    margin-top: 100px;
    display: flex;
    gap: 25px;
}

.about-mountain {
    width: 532px;
}

.mountain-bullet {
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.mountain-bullet li {
    margin-bottom: 16px;
}

.see-more {
    margin-top: 30px;
}

.mountain-image {
    position: relative;
}

.mountain-image>img {
    width: 610px;
    height: 424px;
    border-radius: 16px;
    background-color: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);

}

.mountain-image-heading {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    width: 276px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -85%);
}

.play-bottom-left {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 100px;
    left: 20px;
}

.play-bottom-right {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 100px;
    left: 500px;
}

.duration {
    position: absolute;
    bottom: 80px;
    left: 15px;
}


/* contact form style  */
.contact {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.contact-form {
    width: 395px;
    height: 342px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}

.form-title {
    margin: 0;
}

.contact-details {
    color: #5A5A5D;
    margin-bottom: 24px;
    text-align: start;
}

.contact-line {
    width: 393px;
    height: 1px;
    background-color: rgba(19, 19, 24, 0.10);
    margin-bottom: 24px;
}

.input-design {
    width: 353px;
    height: 26px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 16px;
    border: none;
    padding: 13px 20px;
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;

}

.Subscribe {
    width: 393px;
    height: 52px;
    text-align: center;
    padding: 14px;
    border: none;

}

.offer-containar {
    position: relative;
}

.offer-image {
    width: 672px;
    height: 422px;
}

.offer {
    width: 324px;
    height: 120px;
    border-radius: 16px;
    background: #FF5400;
    padding-top: 25px;
    top: 54%;
    left: 50%;
    position: absolute;
    /* transform: translate(-50%); */
    transform: rotate(-19.628deg);

}

.offer h4 {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

.offer h3 {
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin: 0;
}

/* footer style  */

footer {
    margin-top: 100px;
    background: rgba(19, 19, 24, 0.05);
    width: 1440px;
    height: 502px;
}

.footer-div {
    display: flex;
    gap: 20px;
    padding-top: 110px;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    width: 40px;
    height: 46.673px;
}

.footer-website-name {
    color: #131318;
    font-size: 32px;
    font-weight: 800;
}

.footer-des {
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 769px;
    margin: 15px auto 30px;
}

.social-icon {
    margin: 32px 632px 50px;
}

.footer-line {
    width: 872px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}

.credit {
    padding: 50px 600px 0;
}


/* responsibe style  */

@media screen and (max-width:600px) {
    main{
        margin: 10px;
    }

    .about-popular-spot,
    .spot-containar,
    .card-flex,
    .mountain,
    .contact {
        flex-direction: column;
        gap: 24px;
        margin-bottom: 24px;
    }

    .popular-spot {
        width: 335px;
        height: 342px;
        margin: 5px;
    }

    .about-spot,
    .spot,
    .spot img, .about-mountain, 
    .mountain-image,
    .mountain-image>img,
    .offer-containar,
    .offer-image {
        width: 335px;
        margin: 0;
    }

    .offer-containar,
    .offer-image {
        height: 300px;
    }
    .mountain-image,
    .mountain-image>img {
        height: 200px;
    }

    .heading,
    .spot-name,
    .card-title,
    .offer h4,
    .offer h3 {
        font-size: 20px;

    }

    .details,
    .heading,
    .price {
        margin: 0;

    }

    .card {
        width: 271px;
    }

    .description,
    .mountain-bullet {
        font-size: 14px;
        line-height: 24px;
        max-width: 309px;
    }

    .about-mountain{
    max-width: 335px;
}

.play-bottom-right {
    bottom: 40px;
    left: 250px;
    gap: 5px;
}

.play-bottom-left {
    gap: 5px;
    bottom: 40px;
}

.duration {
    bottom: 20px;
    width: 303px;
}

.contact-form {
    padding: 8px;
    width: 312px;
}

.input-design,
.Subscribe {
    width: 280px;
    height: 52px;
    padding: 5px;
}

.offer {
    width: 170px;
    height: 70px;
    padding-top: 0;
    top: 68%;
    left: 48%;
}

footer {
    width: 375px;
    height: 309px;
}

.footer-logo {
    width: 28.px;
    height: 33px;
}

.footer-website-name {
    font-size: 20px;
}

.footer-des {
    font-size: 14px;
    line-height: 24px;
    width: 287px;
    margin: 5px auto 10px;
}

.footer-line {
    width: 335px;
}

.credit {
    font-size: 14px;
    padding: 0 90px;
}
.footer-div{
    padding-top: 30px;
}
.social-icon {
    margin: 0px 90px 10px;
}
}